{% extends 'base.html' %}

{% block title %}
<h1>{{survey.title}}</h1>
{% endblock %}

{% block body %}
{% for category,msg in get_flashed_messages(with_categories=true) %}
  <p>{{msg}}</p>
{% endfor %}

<p>{{question.question}}</p>
<form action="/answers/{{idx}}" method="POST">
  <div>
    {% for choice in question.choices %}
    <label for="{{choice}}">{{choice.capitalize()}}</label>
    <input type="radio" name="survey_question" value="{{choice}}">
    {% endfor %}
  </div>
  <div>
    <button>Next</button>
  </div>
</form>
{% endblock %}